link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Permisos.css" />

<!-- Custom stlylesheet
<link type="text/css" rel="stylesheet" href="css/style.css" />-->

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>ERP Api</h1>
        </div>
        <br />
        <h2>Portal Web API</h2>
        <p>En este sitio usted puede encontrar la documentación de las API que provee el ERP.</p>
        <a href="@Url.Action("Index", "API")">Ver</a>
    </div>
</div>
